.profile__Title h3{
  font-size: 2vw;
  letter-spacing: 6px;
  text-align: center;
  padding: 0;
  font-weight: 500;
}

.profile__Title--mobile h3{
  font-size: 30px;
  letter-spacing: 6px;
  text-align: center;
  margin: 40px 0px -20px 0px;
  padding: 0;
  font-weight: 500;
}