.profile__Title h3{
  font-size: 5vw;
  letter-spacing: 6px;
  text-align: center;
  margin: 1.6vw 0px 0px 0px;
  padding: 0;
  font-weight: 500;
}

.profile__Title.mobile h3{
  font-size: 35px;
  letter-spacing: 6px;
  text-align: center;
  margin: 40px 0px -60px 0px;
  padding: 0;
  font-weight: 500;
}