.profile__image {
  position: relative;
  height: 16vw;
  width: 16vw;
  border: none;
  outline: none;
  color: white;
  background: #111;
  border-radius: 50%;
  margin: 70px auto 0 auto;
}

.profile__image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile__image::after {
  position: absolute;
  content: "";
  top: -2.5px;
  left: -2.5px;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  border-radius: 50%;
  z-index: -1;
  background: #eeeeee;
  opacity: 0.75;
  filter: blur(2px);
}

.profile__image:before {
  position: absolute;
  content: "";
  top: -12px;
  left: -12px;
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  border-radius: 50%;
  z-index: -1;
  filter: blur(15px) brightness(1.1);
  background: linear-gradient(45deg, #1562c7, #f700ff, #7a00ff);
  background-size: 300%;
  transition: opacity 0.3s ease-in-out;
  animation: glowProfileEffect 5s ease-out infinite;
}

@keyframes glowProfileEffect {
  0% {
    transform: rotate(0) scale(0.94);
  }
  32% {
    transform: rotate(90deg) scale(1);
  }
  64% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.94);
  }
}

.profile__image--mobile {
  position: relative;
  height: 200px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: #111;
  border-radius: 50%;
  margin: 140px auto 0 auto;
}

.profile__image--mobile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile__image--mobile::after {
  position: absolute;
  content: "";
  top: -2.5px;
  left: -2.5px;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  border-radius: 50%;
  z-index: -1;
  background: #eeeeee;
  opacity: 0.75;
  filter: blur(2px);
}

.profile__image--mobile:before {
  position: absolute;
  content: "";
  top: -9px;
  left: -9px;
  height: calc(100% + 18px);
  width: calc(100% + 18px);
  border-radius: 50%;
  z-index: -1;
  filter: blur(15px) brightness(1.1);
  background: linear-gradient(45deg, #1562c7, #f700ff, #7a00ff);
  background-size: 300%;
  transition: opacity 0.3s ease-in-out;
}
