.hero__overflow {
  /* overflow: hidden; */
}

.hero__container {
  background-color: rgba(0, 2, 128, 0.562);
  height: 300vh;
  min-height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1px;
}

.hero__image {
  height: 52vw;
  transform: translateY(50px);
}

.hero__text {
  text-align: center;
  font-size: 18px;
  top: 50px;
  left: 27%;
  color: white;
}
