.hero__container {
  height: 2300px;
}

.hero {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1px;
}

.hero__profile {
  position: absolute;
  z-index: 100;
  transform: scale(0.9);
}

.hero__background__image {
  height: 52vw;
  transform: translateY(100px) scale(2.05);
}

.hero__text {
  text-align: center;
  font-size: 18px;
  top: 50px;
  left: 27%;
  color: white;
}

.background__hero__mobile {
  position: absolute;
  z-index: -2;
  transform: scale(1);
  margin: -90px 0px 0px -30px;
}
