.hero__container {
  height: 2300px;
}

.hero {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 1px;
}

.hero__profile {
  position: absolute;
  z-index: 100;
  transform: scale(0.9);
  padding-top: 1vw;
}

.hero__background__image {
  height: 52vw;
  transform: translateY(100px) scale(2.05);
}

.hero__text {
  text-align: center;
  font-size: 18px;
  top: 50px;
  left: 27%;
  color: white;
}

.hero--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-bottom: 600px;
  margin-bottom: -700px;
  max-width: 100vw;
  overflow-x: hidden;
}
