.clipped-border {
  overflow: hidden;
  color: inherit;
}

.clipped-border img {
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 300px;
  transition: all ease 0.3s;
}

.clipped-border:hover img {
  filter: brightness(0.5);
  background-size: 330px;
}

.clipped-border:hover span {
  opacity: 1;
  filter: brightness(20);
}

.clipped-border span {
  position: absolute;
  font-size: 1.9rem;
  justify-self: center;
  z-index: 10;
  opacity: 0.3;
  text-align: center;
  width: 80%;
  transition: all ease 0.3s;
}

.clipped-border {
  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 5px;
  background: linear-gradient(rgb(56, 28, 214), rgb(162, 31, 214));
  height: var(--height);
  width: var(--width);
  transition: all ease 0.2s;
  position: absolute;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(1);
  transform-origin: right top;
}

.clipped-border:before {
  content: "";
  position: absolute;
  opacity: 0.15;
  width: 400px;
  height: 60px;
  background: white;
  top: 0;
  left: 0;
  z-index: 100;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:hover:before {
  transform: translate(-150px, 400%) rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:nth-child(2) {
  top: 230px;
  left: -146px;
}

.clipped-border:nth-child(3) {
  top: -10;
  left: -286px;
}

.clipped-border:nth-child(4) {
  top: 230px;
  left: 135px;
}

.clipped-border:nth-child(5) {
  top: -10;
  left: 276px;
}

#clipped {
  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.clipped-border:hover {
  height: 105%;
  width: 105%;
  transition: all ease 0.2s;
  z-index: 10;
}

/* Overlay and details */

.project__details__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0 auto;
  transition: all ease 0.2s;
}

.project__details {
  z-index: -1;
  text-align: center;
  padding: 0px 20px;
  transition: all ease 0.2s;
}

.project__details__overlay.choose {
  opacity: 0.95;
}

.project__details__overlay.choose .project__details {
  opacity: 1;
}

@media (max-width: 1020px) {
  .clipped-border:nth-child(1) {
    top: 234px;
    left: 0px;
  }

  .clipped-border:nth-child(2) {
    top: 68px;
    left: 100px;
  }

  .clipped-border:nth-child(3) {
    top: 68px;
    left: -99px;
  }

  .clipped-border:nth-child(4) {
    top: 400px;
    left: -100px;
  }

  .clipped-border:nth-child(5) {
    top: 400px;
    left: 99px;
  }
  .clipped-border:before {
    content: "";
    overflow: hidden;
    position: absolute;
    opacity: 0.15;
    width: 290px;
    height: 40px;
    background: white;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(45deg);
    transition: transform 0.5s;
  }
}
