.portfolio__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  max-width: 1000px;
  margin: 0 auto;
  color: gray;
}

.portfolio__footer div {
  padding: 0px 20px;
}

.working__in__progress {
  text-align: center;
  font-weight: 400;
  opacity: 0.08;
}

.portfolio__footer__contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
