:root {
  --backgroundCard: #252525;
  --cardBorder: #5a5a5a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 22, 22);
  color: #efefef;
  height: 100%;

  overflow-x: hidden;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

code {
  font-family: "Inter", sans-serif;
}

main {
  background-color: #1b1b1b;
  padding-bottom: 480px;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #949494 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff0a;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 10px;
    border: 3px solid #ffffff00;
  }