body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(31, 31, 31);
  color: #efefef;
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: "Roboto", sans-serif;
}
