.portfolio__intro {
  font-weight: 600;
  font-size: 5.5rem;
  margin: 190px auto 140px 0px;
  line-height: 120px;
  letter-spacing: 4px;
  text-align: center;
  background: linear-gradient(91.36deg, #4946e9, #9701c4, #cc00ff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: intro-gradient 4s infinite ease;
}

.portfolio__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1150px;
}

.about__me__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__me__container span::first-letter {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(113, 38, 189);
}

.about__me__container span {
  flex: 40%;
  font-size: 1.23rem;
  letter-spacing: 3px;
  line-height: 30px;
}

.about__me__container div {
  flex: 40%;
}

.about__me__cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  padding-left: 50px;
}

.about__me__cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__me__card {
  min-width: 200px;
  min-height: 150px;
  margin: 11px;
  background-color: var(--backgroundCard);
  border: 2px solid var(--cardBorder);
  border-radius: 16px;
}

.about__me__card p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.projects__count p:first-child {
  color: rgb(142, 31, 245);
  font-size: 3.1rem;
  font-weight: bold;
}

.commits_count p:first-child {
  color: rgb(35, 190, 105);
  font-size: 3.1rem;
  font-weight: bold;
}

.years__experience p:first-child {
  color: rgb(31, 106, 245);
  font-size: 3.1rem;
  font-weight: bold;
}

.passion__percent p:first-child {
  color: rgb(245, 31, 102);
  font-size: 3.1rem;
  font-weight: bold;
}

.my__technologies__stack {
  margin: 180px 0px 70px 0px;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}

.technologies__badges {
  width: 80%;
  background-color: var(--backgroundCard);
  border: 2px solid var(--cardBorder);
  padding: 50px 40px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projects__cards {
  align-self: flex-start;
  margin-left: 10vw;
  height: 300px;
  width: 300px;
  gap: 50px;
}

/* Cards */

:root {
  --width: 100%;
  --height: 100%;
  --border-width: 300px;
  --border-height: 300px;
}

.gallery {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.gallery:after {
  content: "";
}

.gallery img {
  width: var(--width);
  height: var(--height);
}

.clipped-border {
  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 5px;
  background: linear-gradient(rgb(56, 28, 214), rgb(162, 31, 214));
  height: var(--height);
  width: var(--width);
  transition: all ease 0.2s;
  position: absolute;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(1);
  transform-origin: right top;
}

.clipped-border:before {
  content: "";
  position: absolute;
  opacity: 0.15;
  width: 400px;
  height: 60px;
  background: white;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:hover:before {
  transform: translate(-150px, 400%) rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:nth-child(2) {
  top: 231px;
  left: 130px;
}

.clipped-border:nth-child(3) {
  top: -10;
  left: 272px;
}

.clipped-border:nth-child(4) {
  top: 230px;
  left: 413px;
}

.clipped-border:nth-child(5) {
  top: -10;
  left: 554px;
}

#clipped {
  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.clipped-border:hover {
  height: 105%;
  width: 105%;
  transition: all ease 0.2s;
  z-index: 10;
}

@media screen and (max-width: 1020px) {
  .clipped-border {
    width: 200px;
    height: 200px;
  }

  .projects__cards {
    flex-direction: column;
    gap: 40px;
  }

  .clipped-border:hover {
    height: 210px;
    width: 210px;
    transition: all ease 0.2s;
  }

  .projects__cards .gallery {
    align-self: center;
    height: 300px;
    width: 300px;
    gap: 50px;
  }

  .clipped-border:nth-child(1) {
    top: -10;
    left: 279px;
  }

  .clipped-border:nth-child(2) {
    top: 203px;
    left: 184px;
  }

  .clipped-border:nth-child(3) {
    top: 45px;
    left: 89px;
  }

  .clipped-border:nth-child(4) {
    top: 360px;
    left: 90px;
  }

  .clipped-border:nth-child(5) {
    top: 360px;
    left: 279px;
  }
}

@media screen and (max-width: 600px) {
  .projects__cards .gallery {
    align-self: flex-start;
    height: 300px;
    width: 300px;
    gap: 50px;
  }
}

@media (max-width: 1210px) {
  .about__me__container {
    flex-direction: column;
  }

  .about__me__container > span {
    padding: 0px 50px;
  }

  .about__me__cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    padding: 40px;
  }
}

@media (max-width: 900px) {
  .portfolio__intro {
    font-weight: 600;
    font-size: 4.2rem;
    margin: 160px auto 120px 0px;
  }
  .technologies__badges {
    background-color: rgb(37, 37, 37);
    padding: 40px 30px;
    border-radius: 20px;
    border: 2px solid rgb(87, 87, 87);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  .my__technologies__stack {
    margin: 80px 0px 80px 0px;
  }
  .projects__cards {
    flex-direction: column;
    margin: 0 0 0 10vw;
    gap: 40px;
  }
}

@media (max-width: 650px) {
  .projects__cards {
    flex-direction: column;
    margin: 0 0 0 -10vw;
    gap: 40px;
  }
}

@keyframes intro-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
